
html, body {
    font-size: 100%;
    text-align: center;
    font-family: Arial;
    line-height: 1.4;
    background: #333;
    color: #fff;
}
h1, h2, h3 {
    font-size: 4em;
}
header h2, em {
    color: #ee2f71;
}
header h3 {
    font-size: 2em;
    color: #ffc;
}
main {
    display:block
}
.spreker {
    display: inline-block;
    margin: 2em;
    width: 300px;
    border: 1px solid gray;
    padding: 1em 0;
    background: #ee2f71;
    padding: 0.5em;
}
.spreker h1 {
    font-size: 2em;
}
.spreker h2 {
    font-size: 1.4em;
    line-height: 2em;
}
.spreker h3 {
    font-size: 1em;
}
a.button {
    display: inline-block;
    color: #fff;
    background: #2fee71;
    margin: 1em;
    padding: 0.5em 1em;
    border-radius: 0.1em;
    text-decoration: none;
}
main {
    background: #222;
    padding: 1em;
    text-align: left;
}
p {
    margin-bottom: 1em;
}
a {
    color: #fff;
}
@media only screen and (max-width: 400px) {
    header {
        border-bottom: 1px solid gray;
    }
    .spreker {
        margin: auto;
        border: 0;
        border-bottom: 1px solid gray;
        width: 100%;
        padding: 0;
        margin-bottom: 0.5em;
    }
    h1, h2 {
        font-size: 2em;
    }
    header h3 {
        font-size: 1em;
    }
}